/home/rr-h/40-49_Projects/42_Coding/.gitignore
/home/rr-h/40-49_Projects/42_Coding/42x00_directory_housekeeping_notes.txt
/home/rr-h/40-49_Projects/42_Coding/42x01_Current
/home/rr-h/40-49_Projects/42_Coding/42x02_Gits
/home/rr-h/40-49_Projects/42_Coding/42x02x03_ReutherOS
/home/rr-h/40-49_Projects/42_Coding/42x02x08_R3-0S5
/home/rr-h/40-49_Projects/42_Coding/42x03_Apps
/home/rr-h/40-49_Projects/42_Coding/42x04_Pages
/home/rr-h/40-49_Projects/42_Coding/42x05_Completed
/home/rr-h/40-49_Projects/42_Coding/42x06_Proposed
/home/rr-h/40-49_Projects/42_Coding/42x07_Tutorials
/home/rr-h/40-49_Projects/42_Coding/42x08_Scripts

